body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Smythe';
    font-style: normal;
    background-color: #e0e0e0;
    position: relative;
}

.container {
    width: 600px;
    height: 100%;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

/* This is the header stuff. just need to polish */

    header {
        background-image: url("images/ferks-guare-KEZdWfYD-ow-unsplash 1.png");
        background-position: center;
        color: #ffffff;
    }

    .restraunt-name {
        padding: 30px;
    }

/* This is the menu items */
    #menu-items-section{
        padding: 0 15px;
    }

    #menu-items-section p {
        padding: 0;
        margin: 0;
    }

    .align {
        border-bottom: 1px solid rgb(163, 163, 163);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
        text-align: justify;
    }

    .menu-div{
        display: flex;
        flex-direction: row;
    }

    .ingredients {
        font-size: 10px;
        color: rgb(187, 187, 187);
        padding-bottom: 10px;
    }

    .price {
        font-size: 14px;
    }

/* This is for the order info */

    #order-conformation{
        display: none;
        flex-direction: column;
    }

    #order-selection {
        display: flex;
        flex-direction: column;
    }

    .ordered-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .ordered-item p {
        padding: 0;
        margin: 0;
    }

    #remove {
        color: rgb(187, 187, 187);
        cursor: pointer;
        font-size: 14px;
    }

/* This is for the credit card info */

    #cc-pop-up {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 250px;
        height: 350px;
        background-color: #ffffff;
        box-shadow: 0px 0px 25px black;
    }

    #cc-pop-up form {
        display: flex;
        flex-direction: column;
        margin: auto;

    }

    img {
        width: 50px;
        height: 50px;
        padding-right: 10px;
    }

    button {
        background-color: #16DB99;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        margin: 5px;
    }

    input {
        padding: 5px;
        margin: 5px;
    }

    #thank-you-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:normal;
    }

    #thank-you-div h1, p {
        padding: 10px;
    }

    







