body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Smythe';
    font-style: normal;
    background-color: #e0e0e0;
}

.container {
    width: 600px;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

/* This is the header stuff. just need to polish */

    header {
        background-image: url("images/ferks-guare-KEZdWfYD-ow-unsplash 1.png");
        background-position: center;
        color: #ffffff;
    }

    .restraunt-name {
        padding: 30px;
    }

/* This is the menu items */

    #menu-items-section p {
        padding: 0;
        margin: 0;
    }

    .align {
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

/* This is for the order info */

    #order-conformation{
        display: none;
    }

/* This is for the credit card info */

    #cc-pop-up {
        display: none;
    }





