body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Smythe';
    font-style: normal;
    background-color: #e0e0e0;
    position: relative;
}

.container {
    width: 600px;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

/* This is the header stuff. just need to polish */

    header {
        background-image: url("images/ferks-guare-KEZdWfYD-ow-unsplash 1.png");
        background-position: center;
        color: #ffffff;
    }

    .restraunt-name {
        padding: 30px;
    }

/* This is the menu items */
    #menu-items-section{
        padding: 0 15px;
    }

    #menu-items-section p {
        padding: 0;
        margin: 0;
    }

    .align {
        border-bottom: 1px solid rgb(163, 163, 163);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
        text-align: justify;
    }

/* This is for the order info */

    #order-conformation{
        display: flex;
        flex-direction: column;
    }

    #order-selection {
        display: flex;
        flex-direction: column;
    }

    .ordered-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .ordered-item p {
        padding: 0;
        margin: 0;
    }

/* This is for the credit card info */

    #cc-pop-up {
        display: none;
        position: absolute;
        width: 40vw;
        height: 60vh;
        background-color: black;
    }





